@import 'util.scss';

.swiper-item{
	min-height: 100px;
	line-height: 100px;
	&:nth-child(2n) {
		background-color: #ccc;
	}
}
.xy-index-main{
    min-height: 600px;
}
#btn-boxs{
    position: absolute;
    left: 0;
    bottom: torem(30);
    width: 100%;
    text-align: center;
    z-index: 10;
    ul{
      display: inline-block;
    }
    li{
        float: none;
        display: inline-block;
        margin-right: torem(14);
        width: torem(20);
        height: torem(20);
        border-radius: 50%;
        border:1px solid #fff;
        &:last-child{
            margin-right: 0;
        }
        &.active{
            background-color: #fff;
        }
    }
}


.pagination{
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    margin: 50px 0 20px 0;
    padding-left: 0;
    .pageInfo{
        padding-top: 3px;
    }
    li {
        display: inline;
        cursor: pointer;
        clear: none;
        a,span{
            background-color: #fff;
            border: 1px solid #ddd;
            color: #666;
            text-decoration: none;
            line-height: 20px;
            padding: 3px 11px;
            margin-left: -1px;
            position: relative;
            float: left;
            &.active{
                color: #3498db;
            }
        }
        a{
            margin-right: 17px;
            cursor: pointer;
            border: 1px solid #666;
            &:hover{
                border: 1px solid #2475ea;
                color: #2475ea;
                background-color: #fff;
            }
            &:first-child{
                border-radius: 0;
            }
            &:last-child{
                border-radius: 0;
            }
            &:active {
                color: #fff;
                background-color: #2575e9;
            }
        }
        &.omit a{
            padding: 5px 0 0 0;
            border: 0;
            cursor: default;
            &:hover{
                border: 0;
                color: #666;
                background-color: #fff;
            }
        }
        &:first-child{
            a,span{
                margin-left: 0;
            }
        }
    }
   .active{
       a{
           z-index: 3;
           color: #666;
           cursor: default;
           border-color: transparent;
           &:hover{
               border: 1px solid #2475ea;
               color: #2475ea;
               background-color: transparent;
           }
       }
   }
    .disabled{
        a{
            color: #c4c4c4;
            border: 1px solid #c4c4c4;
            cursor: not-allowed;
            &:hover{
                color: #c4c4c4;
                border: 1px solid #c4c4c4;
            }
            &:active{
                color: #c4c4c4;
                background-color: #fff;
            }
        }

    }
    .pageInfo{
        margin-left: 10px;
    }
}
.total{
    padding: 20px 0 0 3px;
    font-size: 14px;
}

.xy-list, .index-main-inner, .xy-detail{
    margin: 30px auto 0 auto;
    padding:  25px 20px 40px 20px;
    width: 1100px;
    background-color: #fff;
}
