@import 'util.scss';

* {
  -webkit-box-sizing: border-box; box-sizing: border-box;
  &:after, &:before {
    @extend *;
  }
}

@font-face {
  font-family: 'PingFang SC';
  src: url(PingFang.ttc) format('ttc'),url(PingFang.ttf) format('TureTpe');
  font-weight: 300;
  font-style: normal;
}

body, dl, dd, h1, h2, h3, h4, h5, p, figure, form, ul, ol { margin: 0; }
ul, ol, input, button { padding: 0;}
ul, ol, li { list-style: none;}
/*h1, h2, h3, h4, h5 { font-size: 100%; font-weight: normal;}*/
input { border: 0; margin: 0;}
a, button, input, optgroup, select, textarea, img { outline:none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a, img { -webkit-touch-callout: none; border: 0;}
html, body { position: absolute; min-height: 100%; width: 100%;}
input, textarea, img, button { vertical-align: middle; outline: none;  -webkit-appearance: none;}
body { font-family: PingFang SC, Microsoft YaHei, Helvetica, STHeiTi, sans-serif !important; color: #333; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;}
table {border-collapse: collapse; border-spacing: 0;}

a { text-decoration:none; color: #333;
  &:hover { text-decoration:none;}
}

// html { position: relative;
//     &.line:after { position: absolute; left: 240px; top: 0; bottom: 0; border-left: 1px solid #e5e5e5; content: '';}
// }

.clearfix { zoom:1;}
.clearfix {
  &:before, &:after { content:""; display:table;}
  &:after { clear:both; }
}
body {
  font-size: 14px;
  background-color: #fafafa;
  .none{
    display: none;
  }
}


input[disabled="disabled"] {
  background-color: #e5e5e5;
}
textarea:disabled, input:disabled{
  background-color: #e5e5e5!important;
}

.fl, .left{ float: left; }

.fr, .right{ float: right; }

.mt0{margin-top: 0px;}

.mt10{margin-top: 10px;}

.mt30{margin-top: 30px;}

.mt40{margin-top: 40px;}

.mt50{margin-top: 50px;}

.col-1{ width: 10%;}
.col-2{ width: 20%;}
.col-3{ width: 30%;}
.col-4{ width: 40%;}
.col-5{ width: 50%;}
.col-6{ width: 60%;}
.col-7{ width: 70%;}
.col-8{ width: 80%;}
.col-9{ width: 90%;}
.col-10{width: 100%;}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #8b8b8b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #8b8b8b;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #8b8b8b;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #8b8b8b;
}

a[href^="http://tongji.baidu.com"], span[id^="cnzz_stat_icon"]{
  display: none;
}

.tips{
  position: absolute;
  top: 150px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  line-height: 50px;
  border-radius: 4px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  color: #000;
  z-index: 20;
}

/*文章样式*/
article.detail-main{
  //文章中如果图片没有设置src就不显示，解决IE中出现大块空白问题
  img:not([src]){
    display: none;
  }
  ul, ol{
    list-style: disc outside none;
  }
  li{
    list-style: inherit;
  }
}

/*适配*/
@media all and (max-width:320px) { html {font-size: 10px;}}
@media all and (min-width:320px) { html {font-size: 10px;}}
@media all and (min-width:360px) { html {font-size: 11.25px;}}
@media all and (min-width:375px) { html {font-size: 11.7188px;}}
@media all and (min-width:480px) { html {font-size: 15px;}}
@media all and (min-width:640px) { html {font-size: 20px;}}
@media all and (min-width:720px) { html {font-size: 22.5px;}}
