$baseFontSize : 23.4376 !default;
/**/
@mixin transition($value...) {
    -webkit-transiton: $value;
    -moz-transtion: $value;
    -ms-transtion: $value;
    transition: $value;
}

@mixin transform($value...) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

@mixin clamp($value...){ //要显示几行，剩下的隐藏
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    -webkit-line-clamp: $value;
    line-clamp: $value;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin animation($value...) {
    -webkit-animation: $value;
    -moz-animation: $value;
    -ms-animation: $value;
    animation: $value;
}

@function torem($value) {
    @return ($value / $baseFontSize * 1rem);
}

@mixin txtColGradient($value...) {
    background-image: linear-gradient($value);
    background-image: -webkit-linear-gradient($value);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}


%overflow-scrolling { -webkit-overflow-scrolling:touch; overflow-scrolling:touch; overflow: auto;}

%els { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }